<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>JonasMuzik</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <link href="style.css" rel="stylesheet">
    
    <link rel="shortcut icon" href="https://d29fhpw069ctt2.cloudfront.net/icon/image/37740/preview.svg">
</head>

<body id="home">
   
    <header id="header">
        <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
            <div class="container-fluid">
                <a class="navbar-branch" href="#">
                    <img src="https://d29fhpw069ctt2.cloudfront.net/icon/image/37740/preview.svg" height="30px">
                    <a class="navbar-brand" href="idk.html">Jonas<b>MUZIK</b></a>
                </a>
                <button class="navbar-toggler" type="button" vata-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <img id="upload" style="cursor: pointer;" src="logo/upload.png" alt="">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#playing-music">Music</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#hot-album">Top album</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" 
                                href="file:///C:/Users/ACER/Desktop/BT_TTCM_Nhac/web_login/index.html">Log-in</a>
                        </li>
                        <li>
                            <label style="padding-top: 10px;padding-left: 5px;"> Name </label>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--/header-->

    <div id="slides" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
            <li data-target="#slides" data-slide-to="3"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img
                    src="https://images.unsplash.com/photo-1581974944026-5d6ed762f617?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
                <div class="carousel-caption">
                    <h2 class="display-2">JonasMuzik</h2>
                    <h3>Play music, free your soul</h3>
                    <hr>
                    <button type="button" class="btn bZtn-outline-light btn-lg">
                        Play music
                    </button>
                    <button type="button" class="btn btn-primary btn-lg">More information</button>
                    <hr>
                </div>
            </div>
            <div class="carousel-item">
                <img
                    src="https://images.unsplash.com/photo-1567020992371-bcc7c617a372?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
            </div>
            <div class="carousel-item">
                <img
                    src="https://images.unsplash.com/photo-1501527459-2d5409f8cf9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
            </div>
            <div class="carousel-item">
                <img
                    src="https://images.unsplash.com/photo-1583681716866-c0d24d132420?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80">
            </div>
        </div>
    </div>

    <section id="playing-music" class="audio-main">
        <div class="container">
            <div class="poster" id="poster">
                <img src="img/bbag.jpg" />
            </div>
            <div class="song-title" id="songTitle">
                Last Dance
            </div>
            <div class="btn-audio-player">
                <button id="pre" onclick="pre()">
                    <i class="fa fa-step-backward" aria-hidden="true"></i>
                </button>
                <button id="play" onclick="playPauseSong()">
                    <i class="fa fa-play" aria-hidden="true"></i>
                </button>
                <button id="next" onclick="next()">
                    <i class="fa fa-step-forward" aria-hidden="true"></i>
                </button>

            </div>
            <div class="seek-bar">
                <div id="fill" class="fill" ></div>
                <div id="handle" class="handle"></div>
            </div>
            <div id="currentTime">
                00:00 / 00:00
            </div>
            <div id="repeatBtn">
                <button id="repeat_ne" onclick="thu_cai()">
                    <img src="logo/repeat.png">
                </button>
            </div>
        </div>
    </section>
    <!--/#Playing-music-->
    <!--Hot album-->
    <div id="hot-album" class="label-hot-album">
        <h3>Hot album 100</h3>
        <div class="border"></div>
    </div>
    <div class="hot-album">
        <div>
            <img src="img/bp.png" alt="" id="bp">
        </div>
        <div>
            <img src="img/bb.jpg" id="bb">
        </div>
        <div>
            <img src="img/niziu.jpg" alt="">
        </div>
        <div>
            <img src="img/bts.jpg" alt="">
        </div>
        <div>
            <img src="img/rv.png" alt="">
        </div>
        <div>
            <img src="img/tw.jpg" alt="">
        </div>
        <div>
            <img src="img/exo.jpg" alt="">
        </div>
        <div>
            <img src="img/st.jpg" alt="">
        </div>
        <div>
            <img src="img/bbag.jpg" alt="">
        </div>
        <div>
            <img src="img/mm.jpg" alt="">
        </div>
        <div>
            <img src="img/iu.jpg" alt="">
        </div>
        <div>
            <img src="img/itzy.jpg" alt="">
        </div>


    </div>
    <div id="uploadMusic">
        <table id="tblContainer">
            <tr>
                <td colspan="2">
                    <table id="table1" cellpadding="2" cellspacing="2">
                        <tr style="height: 30px; background-color:#6cb137 ; color:#FFFFFF ;border: solid 1px #659EC7;">
                            <td>
                                <h3 style="text-align: center;"> Add music, Upload Music</h3>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <form novalidate name="f2" ng-submit="saveMusicDetails()">
                                    <table style="color:#9F000F;font-size:large" cellpadding="4" cellspacing="6">
                                        <tr>
                                            <td><b>ID: </b></td>
                                            <td>
                                                <input type="text" name="txtmusicID" ng-model="musicID" value="0"
                                                    style="background-color:tan" readonly />
                                                <br />
                                            </td>
                                            <td>
                                                <b>Singer Name : </b>
                                            </td>
                                            <td>
                                                <input type="text" name="txtSingerName" ng-model="SingerName"
                                                    placeholder="Singer Name" required />
                                                <br />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b> Album Name: </b>
                                            </td>
                                            <td>
                                                <select name="opSelect" id="opSelect" ng-model="AlbumNameS">
                                                    <option value="" selected>-- Select --</option>
                                                    <option ng-repeat="option in AlbumData" value="SK">Cle 1 StrayKids
                                                    </option>
                                                </select>
                                                <br />
                                            </td>
                                            <td>
                                                <b> Music File Upload: </b>
                                            </td>
    
                                            <td>
                                                <input type="file" id="fileSong" name="fileSong" accept="audio/mp3">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <input type="submit" value="Save Music"
                                                    style="background-color:#e20952;color:#FFFFFF" required />
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
    
                    <table
                        style="width: 99%; background-color:#FFFFFF; border: solid 2px #6D7B8D; padding: 5px;width: 99%;table-layout:fixed;"
                        cellpadding="2" cellspacing="2">
    
                        <tr style="height: 30px; background-color:#476444 ; color:#FFFFFF ;border: solid 1px #659EC7;">
                            <td width="40" align="center"><b>Edit</b></td>
                            <td width="40" align="center"><b>Delete</b></td>
                            <td width="100" align="center"><b>Singer Name </b></td>
                            <td width="120" align="center"><b>Album Name</b></td>
                            <td width="120" align="center"><b>Song File</b></td>
                        </tr>
                        <tbody data-ng-repeat="details in MusicData">
                            <tr>
                                <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                                    <span style="color:#9F000F">
                                        <img src="logo/edit.png" alt="Edit" width="24px" height="24px"
                                            ng-click="MusicEdit(details.MusicID, details.SingerName, details.AlbumName, details.MusicFileName, details.Description)">
    
                                    </span>
                                </td>
                                <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                                    <span style="color:#9F000F">
                                        <img src="logo/del.png" alt="Delete" width="24px" height="24px"
                                            ng-click="MusicDelete(details.MusicID)">
                                    </span>
                                </td>
    
                                <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                                    <span style="color:#9F000F">Singer</span>
                                </td>
    
                                <td align="center" valign="top"
                                    style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                                    <span style="color:#9F000F">AlbumName</span>
                                </td>
    
                                <td align="center" valign="top"
                                    style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                                    <span style="color:#9F000F">Song File Name</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
    
                </td>
            </tr>
    
        </table>
        <img src="/Images/blank.gif" alt="" width="1" height="2" />
        <table style='width: 99%;table-layout:fixed;'>
            <tr>
                <td colspan="2">
                    <table
                        style="width: 99%; background-color:#FFFFFF; border: dashed 3px #6D7B8D; padding: 5px;width: 99%;table-layout:fixed;"
                        cellpadding="2" cellspacing="2">
                        <tr style="height: 30px; background-color:#e20952 ; color:#FFFFFF ;border: solid 1px #659EC7;">
                            <td>
                                <h3 style="text-align: center;"> Manage Album Details</h3>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="40%" valign="top">
                    <form novalidate name="f1" ng-submit="saveAlbum()">
                        <table style="color:#9F000F;font-size:large" cellpadding="4" cellspacing="6">
                            <tr>
                                <td>
                                    <b>Album ID: </b>
                                </td>
                                <td>
                                    <input type="text" name="txtAlbumIdentitys" ng-model="AlbumIdentitys" value="0"
                                        style="background-color:tan" readonly />
                                    <br />
    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b> Album Name : </b>
                                </td>
                                <td>
    
                                    <input type="text" name="txtAlbumName" ng-model="AlbumName" placeholder="Album Name ..."
                                        required />
                                    <br />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Select Album Image File : </b>
                                </td>
    
                                <td>
                                    <input type="file" id="avatar" name="avatar" accept="image/*">
                                    <br />
                                </td>
                            <tr>
    
                                <td colspan="2">
                                    <input type="submit" value="Save Album" style="background-color:#407531;color:#FFFFFF"
                                        required />
                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
                <td valign="top">
    
                    <table
                        style="width: 70%; background-color:#FFFFFF;border :solid 2px #6D7B8D; padding: 5px;width: 99%;table-layout:fixed;"
                        cellpadding="2" cellspacing="2">
    
                        <tr style="height: 30px; background-color:#5e2f50 ; color:#FFFFFF ;border: solid 1px #659EC7;">
                            <td width="40" align="center"><b>ID </b></td>
                            <td width="120" align="center"><b>Album Name</b></td>
                            <td width="50" align="center"><b>Image</b></td>
    
                        </tr>
                        <tbody data-ng-repeat="details in AlbumData">
                            <tr>
    
                                <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                                    <span style="color:#9F000F">ID Album</span>
                                </td>
    
                                <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                                    <span style="color:#9F000F">AlbumName</span>
                                </td>
    
                                <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                                    <img src="img/bb.jpg" width="48px" height="48px">
                                </td>
                            </tr>
                            <button id="back">Click here to back</button>
                        </tbody>
                    </table>
                </td>
            </tr>
    
        </table>
    </div>
    <footer id="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2020 JonasMuzik. Template by <a target="_blank" href="idk.html">JonasMuzik</a>
                </div>
                <div class="social-media">
                    <span>
                        <a href="https://facebook.com/JonasMuzik-107294897717104"><img src="logo/facebook.png"></a>
                        <a href="https://twitter.com"><img src="logo/twitter.png"></i></a>
                        <a href="https://google.com"><img src="logo/google.png"></i></a>
                        <a href="https://linkedin.com"><img src="logo/linkedin.png"></i></a>
                        <a href="https://youtube.com"><img src="logo/youtube.png"></i></a>
                        <a href="https://github.com"><img src="logo/github.png"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->

</body>
<script >
        
    var songs = ["mp3/RT.mp3","mp3/HYLT.mp3","mp3/MYH.mp3","mp3/Why.mp3"];
    var poster = ["img/bbag.jpg","img/bp.png","img/niziu.jpg", "img/bb.jpg"]
    var songName =["RingTone","How you like that - BlackPink", "Make you happy - Niziu", "Why - Bệt band"]

    var songTitle = document.getElementById("songTitle");
    var fillBar =document.getElementById("fill");
    var handleDot = document.getElementById("handle");
    var buttonLogin = document.getElementById("login");
    
    var song = new Audio();
    var currentSong = 0;
    


    window.onload = playSong;
    function playSong(){
        song.src = songs[currentSong];
        songTitle.textContent = songs[currentSong];
        song.play();
        
    }
    $(document).ready(function(){
        $("#uploadMusic").hide()
        $("#upload").click(function(){
            $("#uploadMusic").show()
            $("#slides").hide()
            $('.hot-album').hide()
            $("#playing-music").hide()
            $("#hot-album").hide()
        });
        $("#bb").click(function(){
            $("#uploadMusic").show()
            $("#hot-album").hide()
            $(".hot-album").hide()
            
        });
        $("#back").click(function(){
            $("#uploadMusic").hide()
            $("#slides").show()
            $("#hot-album").show()
            $('.hot-album').show()
            $("#playing-music").show()
        });
        $("#UploadMusic").click(function(){
            $("#slides").hide()
            $("#playing-music").hide()
            $("#hot-album").hide()
            $("#uploadMusic").show()
        });
    });
    function playPauseSong()
    {        
            if(song.paused){
                song.play();
                $("#play i").attr("class","fa fa-pause");
            }
            else{
                song.pause();
                $("#play i").attr("class","fa fa-play");
                
            }
    }
    song.addEventListener('timeupdate',function(){ 
            
            var position = song.currentTime / song.duration;
            
            fillBar.style.width = position * 100 +'%';
            convertTime(Math.round(song.currentTime));
            
            if(song.ended)
                next();
        });
   
    function convertTime(seconds ){
        var min = Math.floor(seconds/60);
        var sec  = seconds % 60;
        min = (min<10)?"0"+min : min;
        sec = (sec <10)?"0"+sec:sec;
        currentTime.textContent =  min +":" +sec;

        totalTime(Math.round(song.duration));
    }
    function totalTime(seconds)
    {
        var min = Math.floor(seconds/60);
        var sec  = seconds % 60;
        min = (min<10)?"0"+min : min;
        sec = (sec <10)?"0"+sec:sec;
        
        currentTime.textContent +=" / " + min +":" +sec;
    }  
    function next(){
        
        currentSong++;
        if(currentSong >= songs.length){
            currentSong = 0;
        }
        playSong();
        
        $("#poster img").attr("src",poster[currentSong]);
    }
    function pre(){
        
        currentSong--;
        if(currentSong < 0){
            currentSong = songs.length;
        }
        playSong();
        
        $("#poster img").attr("src",poster[currentSong]);
    }
    function thu_cai(){
        if(song.loop == false){
            song.loop = true;
            song.load();
            $("#repeat_ne img").attr("src","logo/repeat1.png");
        }
        else if(song.loop == true){
            song.loop = false;
            song.load();
            $("#repeat_ne img").attr("src","logo/repeat.png");
        }
    }
   
        
</script>

</html>